<!DOCTYPE html>
<HTML>
	<HEAD>
	    <title>
	        not youtube
	    </title>

	    <link href="https://www.youtube.com/favicon.ico" rel='icon'>
	    <link href="https://www.youtube.com/favicon.ico" rel='shortcut icon'>

	    <link href="https://turbine1k.repl.co/cdn/burning.css" rel='stylesheet'>

	    <style>
	        html {
	            padding:5px;
	        }
	        .links {
	            /*float:right;*/
	            border:solid;
	            border-width:3px;
	            padding:5px;
	            position:absolute;


	        }
	        .line2 {
	            width:100%;
	            background:white;
	            padding:1px;
	        }
	    </style>
	</HEAD>
	<BODY>
		<h1>
		    not youtube
		</h1>
		<marquee width="200">
		    <b>
		        <i>
		            now with pretzels!
		        </i>
		    </b>
		</marquee>
		<div class="links">
		    <a href="/upload">upload a video</a>
		</div>
		<div class="line2"></div>
		<div id="videos"></div>
	</BODY>
</HTML>